@model KitchenEquipment.Models.ExhaustHoodViewModel
<script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>

<form asp-action="Delete" asp-controller="Exhaust"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#ajax-content">

    @Html.AntiForgeryToken()
    <div class="modal-body login-modal">
        <div class="modal-header">
            <h4 class="modal-title text-center">Удаление вытяжки</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p>Вы уверены?</p>
        </div>
    </div>
    
    <div class="modal-footer">
        <button id="create" class="btn btn-danger" type="submit"><strong>Удалить</strong></button>
    </div>
</form>

<script>
    $('#create').on('click',
        function () {
            $('#ajax-content').load('@Url.Action("Index", "Exhaust")');
            $('.modal-open').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        });
</script>
