@model KitchenEquipment.Models.ExhaustHoodViewModel
<script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>

@using (Html.BeginForm("Delete", "Exhaust", FormMethod.Post, new {id = "upload"}))
{

    @Html.AntiForgeryToken()
    <div class="modal-body login-modal">
        <div class="modal-header">
            <h4 class="modal-title text-center">Удаление вытяжки</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p>Вы уверены?</p>
        </div>
    </div>

    <div class="modal-footer">
        <button id="delete" class="btn btn-danger" type="submit"><strong>Удалить</strong></button>
    </div>
}

<script>
$('#upload').submit(function (e) {
    e.preventDefault(); // stop the standard form submission

    $.ajax({
        url: this.action,
        type: this.method,
        data: new FormData(this),
        cache: false,
        contentType: false,
        processData: false,
        success: function (data) {
            $('#ajax-content').load('@Url.Action("Index", "Exhaust")@Html.Raw(ViewBag.Url)');
            $('.modal-open').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        },
        error: function (xhr, error, status) {
            console.log(error, status);
        }
    });
});
</script>
